
 // --- Reviews-board-----
.reviews-info {
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  padding: 0px;
  border-radius: 5px;
  margin-top: 20px;
  }

.reviews-header {
  background-color: rgba(236, 241, 250, 0.5);
  width: 100%;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
}
