
<h1> Mothers </h1>


<div class="container">
  <div class="row">
    <div class="col-8">
      <% @mothers.each do |mother| %>
          <div class="card">
          <%= mother.name %>
          <%= mother.age %>
          <%= link_to 'go' ,mother_path(mother) %>
          </div>
        <% end %>
    </div>

    <div class="col-4">
      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
    </div>

    </div>
  </div>
</div>
