



<div class="container">
  <div class="row">
    <div class="col-8">
      <h1> Our selection of Mothers </h1>
      <% @mothers.each do |mother| %>
          <div class="card" data-aos="fade-up">
          <%= mother.name %>
          <%= mother.age %>
          <%= link_to 'go' ,mother_path(mother) %>
          <% mother.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          </div>
        <% end %>
    </div>

    <div class="col-4">
      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
    </div>

    </div>
  </div>
</div>
