<div id="banner">
  <div class="banner-content">
    <br>
    <br>
    <h1><strong class="title">MILFR!</strong></h1>
    <br>
    <h5>Mothers In Law For Rent</h5>
    <h5 id="sub-header">Profitez enfin de vos repas de famille !</h5>
    <br><br>
    <div id="home-search">
      <%= simple_form_for :search, url: mothers_path, method: "GET", html: { class: 'form-inline', id: 'location-search' } do |f| %>
        <%= f.input :location, label: false, input_html: {value: "", placeholder: "City, Address..."} %>
        <%= f.submit "Find", class: "btn-form" %>
      <% end %>
    </div>
  </div>
</div>

