.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#banner {
  background-size: cover;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner-content {
  color: white;
}

body {
  background-color: #ECF1FA;
}
