.banner {
  background-size: cover;
  background-position: center;
  padding: 320px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



#banner {
  height: calc(100vh - 70px);
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: right;

}

.banner-content {
  color: white;
}

body {
  background-color: rgba(236, 241, 250, 0.4);
}

.search_location > label.string.required {
  opacity: 0;
  margin:0;
}

#location-search {
  justify-content: center;
  align-items: center;

}
