.booking-card {
  margin-top: -289px;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  position: sticky;
  top: 72px;
  height: 400px;
  padding-top: 12px;
  padding-bottom: 5px;
  width: 250px;
  border-radius: 5px;
  background-color: white;

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }
}

// CARTE DE DESCRIPTION DE LA MOTHER

.mother-info {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  padding: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.mother-name h5 {
  margin: 10px;
}

.header{
  border-bottom: 1px solid lightgray;
  background-color: $light-blue;
}

.mother-stats{
  border-right: 1px solid lightgray;
  margin: 10px;
}
.mother-price i, .mother-price h5 {
  color: $strong-red;
  font-style: bolder;
  margin: 10px;
}
.mother-content{
  padding: 9px;
}

.mother-icons{
  width: 220px;
  font-size: 12px;
  i{
    color: $strong-red;
  }
}
.mother-text{
  font-style: italic;
  text-align: center;
  font-size : 14px;
  padding: 10px;
}
