.booking-card {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  position: sticky;
  top: 20px;
  height: auto;
  width: 250px;
  border-radius: 5px;
  background-color: white;

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }
}

.mother-info {
  margin-top: 20px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  margin-bottom: 50px;
}

.mother-info-owner-avatar {
  position: absolute;
  top: 20px;
  left: 660px;
}
