.booking-card {
  margin-top: -50px;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  position: sticky;
  top: 20px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 5px;
  width: 250px;
  border-radius: 5px;
  background-color: white;

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }
}

.mother-info {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 5px;

  h6 {
    font-size: 20px;
  }

  p {
    font-style: italic;
  }
}

.mother-info-top {
  background-color: rgba(236, 241, 250, 0.5);
  width: 100%;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
}

.mother-info-info {
  padding: 10px;
}


