.btn-form{
  background-color: #B71D12;
  color: white;
  border-radius: 10px;
  padding: 8px 24px;
  margin-left: 5px;
  transition: background 0.2s ease;
}

.btn-form:hover{
  box-shadow: 1px 1px 3px $medium-red;
  opacity: 1;
}
