.carousel .item {
  height: 500px;
  width: 1000px;
  object-fit: cover;
  margin: 0px;
}
.carousel-item{
  height: 500px;
  width: 1000px;
  object-fit: cover;
  margin: 0px;
}
.carousel-item img{
  height: 500px;
  width: 1000px;
  object-fit: cover;
  margin: 0px;
}
.carousel {
  height: 500px;
  width: 1000px;
  object-fit: cover;
  margin-top: 50px;
  margin: 0px;
}
