.content {
  display: flex;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

/*needed for old page, remove after merge of new frontend module*/
#gmap_map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}
/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
