.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid lightgrey;
  border-radius: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
