.navbar-lewagon {
  justify-content: space-between;
  background: $light-blue ;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index:99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
