.navbar-lewagon {
  justify-content: space-between;
  background: $light-blue ;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  position: sticky;
  top: 0;
  z-index:99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
