.user-info-card {
  border: 1px solid rgba(0, 0, 0, .1);
  width: 350px;
  height: 520px;
  margin-top: 20px;
}

.user-info-card-avatar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.user-info-card-middle {
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.user-right-column-top {
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-right-column-mother-card {
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 5px;
  margin-top: 25px;
  padding-top: 170px;
  padding-left: 10px;
}

h5 {
  margin-top: 10px;
}
