.user-info-card {
  border: 1px solid rgba(0, 0, 0, .1);
  width: 350px;
  height: 520px;
  margin-top: 20px;
  position: sticky;
}

.user-info-card-avatar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.user-info-card-middle {
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.user-info-card-bottom {
  padding-top: 25px;
}

.dashboard-card-bottom {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.user-right-column-top {
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  p {
    font-size: 13px;
  }
}

.user-right-column-bottom {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.user-right-column-mother-card {
  width: 180px;
  height: 180px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 150px;
  padding-left: 10px;
}

.user-right-column-btn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.profile-reviews-top {
  background: $medium-blue;
  padding: 10px;
  align-items: center;
}

.profile-reviews-bottom {
  padding: 15px;
}

.user-right-column-reviews {
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  p {
    font-size: 12px;
  }
}


h5 {
  margin-top: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
